.container {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  grid-template-rows: 0.5fr 1.7fr 0.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Choices Choices Choices"
    "Draw Draw Draw"
    "Footer Footer Footer";
}

.Choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.8fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "num1 num2 num3"
    "Title1 Title2 Title3"
    "Selector1 Selector2 Selector3";
  grid-area: Choices;
}

.num1 { grid-area: num1; }

.num2 { grid-area: num2; }

.num3 { grid-area: num3; }

.Title2 { grid-area: Title2; }

.Title1 { grid-area: Title1; }

.Title3 { grid-area: Title3; }

.Selector2 { grid-area: Selector2; }

.Selector3 { grid-area: Selector3; }

.Selector1 { grid-area: Selector1; }

.Draw { grid-area: Draw; }

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.4fr 0.9fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". GO ."
    "Download Share Reset"
    "Info Info Info";
  grid-area: Footer;
}

.GO { grid-area: GO; }

.Download { grid-area: Download; }

.Share { grid-area: Share; }

.Reset { grid-area: Reset; }

.Info { grid-area: Info; }


html, body , .container {
  height: 100%;
  margin: 0;
}
  
/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

